.slds-page-header {
    position: sticky;
    color: #F6F7EB;
    background-image:url("/resources/abstract2.jpg");
    background-size: 100%;

}

.header-logo {
    height: 135px;
}

.h1 {
    display: grid;
    justify-content: right;
}

.cart-logo {
    height: 50px;
}

.slds-media__body {
    align-content: right;
    margin-right: 0;
    margin-left: auto;
}

